
.turn-keeper {
  position: absolute;
  top: 80px;
  left: 178px;
  text-align: center;
  font-size: 150%;
}

.start-btn {
  background-color: #fc8210;
  border: none;
  padding: 15px 32px;
  color: white;
  position: absolute;
  top: 80px;
  left: 578px;
  font-size: large;
}

.bank {
  font-size: large;
  border-radius: 12px;
}

.hole {
  font-size: large;
  border-radius: 50%;
}

.board-r1-r2 {
  position: absolute;
  left: 578px;
  top: 250px;
}

.board-row1 {
  display: flex;
  justify-content: center;
  align-items: center;
}

.board-row2 {
  display: flex;
  justify-content: center;
  align-items: center;
}

.ai-bank {
  position: absolute;
  left: 460px;
  top: 250px;
}

.player-bank {
  position: absolute;
  left: 880px;
  top: 250px;
}
