
.turn-keeper {
  font-family: 'Bree Serif', serif;
  position: absolute;
  top: 250px;
  left: 78px;
  text-align: center;
  font-size: 350%;
}

.start-btn {
  background-color: #fc8210;
  border: none;
  padding: 15px 32px;
  color: white;
  position: absolute;
  top: 150px;
  left: 78px;
  font-size: large;
}

.bank {
  font-size: large;
  border-radius: 12px;
  background-color: #00005c;
  color: #f7f7f7;
}

.board-r1-r2 {
  position: absolute;
  left: 575px;
  top: 260px;
}

.board-row1 {
  display: flex;
  justify-content: center;
  align-items: center;
}

.board-row2 {
  display: flex;
  justify-content: center;
  align-items: center;
}

.ai-bank {
  position: absolute;
  left: 445px;
  top: 275px;
}

.player-bank {
  position: absolute;
  left: 1000px;
  top: 275px;
}
